<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "utf-8">
    <meta http-equiv = "refresh" content = "300" />
    <title>Youtube/Instagram Counter</title>
    <link rel = "stylesheet" type = "text/css" href = "/css/style.css">
    <link href = 'https://fonts.googleapis.com/css?family=Open+Sans:300' rel = 'stylesheet' type = 'text/css'>
</head>
<body>
    <% if((data !== undefined) && (type === 'i')){
        let words = data.split(' '); %>
        <h1> Data for <%=data.split(' ')[0]%></h1>
        <form action = "/" method = "get">
            <button type = "submit">Home</button>
        </form>
        <% let subscribers = [];
        let dates = [];
        if(words.length >= 4){
            for(let i = 4; i < words.length; i+=10){
                subscribers.push(words[i]);
                let date = '';
                date += (words[i+3] + ' ');
                date += (words[i+4] + ' ');
                date += (words[i+5] + ' ');
                date += (words[i+6].substring(0,5));
                dates.push(date);
            }
        }
        let new_points = [];
        for(let i = 0; i < subscribers.length; i++){
            //points.push({x: new Date(dates[i]), y: subscribers[i].replace(/,/g,'')});
            let temp = new Date(dates[i]);
            if(new_points.length === 0){
                new_points.push([temp.getFullYear()+ '-' + temp.getMonth() + '-'
                    + temp.getDate(), subscribers[i]]);
            }
            else if(new_points[new_points.length - 1][0] === (temp.getFullYear()+ '-'
                    + temp.getMonth() + '-' + temp.getDate()))
            {
                new_points[new_points.length - 1] = [temp.getFullYear()+ '-'
                    + temp.getMonth() + '-' + temp.getDate(), subscribers[i]];
            }
            else{
                new_points.push([temp.getFullYear()+ '-' + temp.getMonth() + '-'
                    + temp.getDate(), subscribers[i]]);
            }
        } %>
        <table id="itable">
            <tr>
                <th>Date</th>
                <th>Followers</th>
            </tr>
            <% for(let i = 0; i < new_points.length; i+=1){ %>
                <tr><td class="center"><%= new_points[i][0] %></td>
                    <td class="center"><%= new_points[i][1] %></td></tr>
            <% } %>
        </table>
        <script>
            const new_points = <%- JSON.stringify(new_points) %>;
            const axis_label = 'Followers';
        </script>

    <% } else if((data !== undefined) && (type === 'y')){
        let words = data.split(' '); %>
        <h1> Data for <%= words[0] %></h1>
        <form action = "/" method = "get">
            <button type = "submit">Home</button>
        </form>
        <% let subscribers = [];
        let views = [];
        let dates = [];
        for(let i = 3; i < words.length; i+=15){
            subscribers.push(words[i]);
            views.push(words[i+5]);
            let date = ''
            date += (words[i+9] + ' ');
            date += (words[i+10] + ' ');
            date += (words[i+11] + ' ');
            date += (words[i+12].substring(0,5));
            dates.push(date)
        }
        let new_points = [];
        for(let i = 0; i < subscribers.length; i++){
            //points.push({x: new Date(dates[i]), y: subscribers[i].replace(/,/g,'')});
            let temp = new Date(dates[i]);
            if(new_points.length === 0){
                new_points.push([temp.getFullYear()+ '-' + temp.getMonth() + '-'
                + temp.getDate(), subscribers[i], views[i]]);
            }
            else if(new_points[new_points.length - 1][0] === (temp.getFullYear()+ '-'
                    + temp.getMonth() + '-' + temp.getDate()))
            {
                new_points[new_points.length - 1] = [temp.getFullYear()+ '-' + temp.getMonth()
                    + '-' + temp.getDate(), subscribers[i], views[i]];
            }
            else{
                new_points.push([temp.getFullYear()+ '-' + temp.getMonth()
                    + '-' + temp.getDate(), subscribers[i], views[i]]);
            }
        } %>
        <table>
            <tr>
                <th>Date</th>
                <th>Subscribers</th>
                <th>Views</th>
            </tr>
            <% for(let i = 0; i < new_points.length; i+=1){ %>
                <tr><td class="center"><%=new_points[i][0]%></td>
                    <td class="center"><%=new_points[i][1]%></td>
                    <td class="center"><%= new_points[i][2]%></td></tr>
            <% } %>
        </table>
        <script>
            const new_points = <%- JSON.stringify(new_points) %>;
            const axis_label = 'Subscribers';
        </script>
    <% }

    else{ %>
        No Data
    <% } %>
    <canvas id="myChart" width="400" height="400"></canvas>

</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    let ctx = document.getElementById('myChart').getContext('2d');
    let dates = [];
    let points = [];
    for(let i = 0;i < new_points.length;i++){
        points.push({x:new_points[i][0], y:new_points[i][1].replace(/,/g,'')});
        dates.push(new_points[i][0]);
    }

    let myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dates,
            datasets: [{
                label: axis_label,
                data: points,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255,99,132,1)',
                borderWidth: 1
            }]
        }
    });
</script>